<body>

  
  

  
  
  <div class="row">
  <% users.forEach(function(user){ %>
  <div class="col-4">
  
  
    <div class="card ms-2 " style="width: 18rem;">
      <a href="/detailadmin/<%= user.title%>"><img class="img-thumbnail" src="<%= user.file_src%>" alt=""></a>
        
      
      <div class="card-body">
        <h3 class="card-title">Product: <%= user.title%></h3>
        <h6 class="card-title">Price: RS<%= user.price%></h6>
        <h6 class="card-title">Stock: <%= user.quantity%></h6>
        <h6 class="card-title">Rating: <%= user.rating%>/5</h6>
        <p class="card-text">Click to get detail</p>
        <a   href="updatep/<%= user.id %>" class="btn btn-primary">Edit</a>
        <a href="deletep/<%= user.id %>" class="btn btn-primary">Delete</a>
        
      </div>
    </div>
  
  
  
  
  </div>
  <% }); %>
  </div>
  
        <!--Display the links to the pages-->
  
  
  
  
  
        <nav aria-label="..." class="mt-4">
          <ul class="pagination">
            <% if(page> 1) { %>
              <li class="page-item">
  
                <a class="page-link" href="/adminallProducts?page=<%=page-1%>">Before</a>
              </li>
              <% } %>
  
                <!-- 
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active" aria-current="page">
          <span class="page-link">2</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                <% for(let i= iterator; i <= endingLink; i++) { %>
                  <% if(i === page) { %>
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" href="/adminallProducts?page=<%=i%>"><%=i%></a>
                      </li>
                      <% continue; %>
                        <% } %>
                          <li class="page-item">
                            <a class="page-link" href="/adminallProducts?page=<%=i%>"><%=i%></a>
                            </li>
                            <% } %>
  
  
  
                              <% if(page <numberOfPages) { %>
                                <li class="page-item">
  
                                  <a class="page-link" href="/adminallProducts?page=<%=page+1%>">After</a>
                                </li>
  
                                <% } %>
                                </ul>
                              </nav>
  
  
                            </body>