
<div class="container">
    <table class="table table-success table-hover">

        <thead>
          <tr>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
         
            <th scope="col">Ph</th>
            <th scope="col">Address</th>
            <th scope="col">Joined</th>
          </tr>
        </thead>
        <tbody>
            <% user.forEach(function(o){ %>
                <tr>
                    
                    
                    <td><%= o.username%></td>
                    <td><%= o.email%></td>
                    <td><%= o.Ph%></td>
                    <td><%= o.address%></td>
                    <td>   <%= o.updatedAt.toLocaleDateString()  %> </td>
                    
                    
                  </tr>
          <% }); %>
        </tbody>
      </table>
</div>
